---
import { Github } from '@lucide/astro';
---

<a
  href="https://github.com/evnbnet"
  target="_blank"
  rel="noopener"
  class="fixed bottom-6 right-6 flex items-center justify-center w-10 h-10 rounded-full border-2 border-white/40 hover:border-white hover:bg-white/10 transition"
>
  <Github size={22} class="text-white" />
</a>
